# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.bookstore.iml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Rustamka\source\repos\Bookstore\.idea\.idea.bookstore\.idea/dataSources/
/dataSources.local.xml
