@using Bookstore.Web.Controllers
@model DeliveryModel

@{
    ViewBag.Title = "Способ доставки";
}
 
<h1>Способ доставки</h1>

<form action="@Url.Action(nameof(OrderController.StartDelivery))" method="post">
    <input type="hidden" name="id" value="@Model.OrderId">
    <div class="form-group">
        <label for="code">Способ доставки:</label>
        <select class="form-control" name="uniqueCode">
            @foreach ((string key, string value) in Model.Methods) {
                <option value="@key">@value</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-success">Далее</button>
</form>
