@{
    ViewData["Title"] = "Заказ оформлен";
}

<p>
    Заказ оформлен. Мы собираем его, чтобы передать в службу доставки.
    Ждите SMS.
</p>
<p>
    <a asp-area="" asp-action="Index" asp-controller="Home">Вернуться на главную страницу</a>
</p>