@model Book[]

@{
    ViewData["Title"] = "Результаты поиска";
}

<h1>Результаты поиска</h1>

@if (!Model.Any()) {
    <p>По вашему запросу ничего не найдено.</p>
} else {
    <ul>
        @foreach(Book book in Model) {
            <li>
                <a href="@Url.Action(action: "Index", "Book", new { id = book.Id })">@book.Title</a>
            </li>
        }
    </ul>
}
